input {
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-weight: bold;
}

select {
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-weight: bold;
}

button {
  background-color: #eff8fe;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-weight: bold;
}
